{{#ifEquals memberType "leader"}}
<div class="tableActions" id="membersActions"  data-active="true">
    <button id="addNewMember" class="cta-button light-blue">Add new members</button>
</div>
{{/ifEquals}}

{{#if members}}

    <table id="members">
        
        <thead>
            <tr>
                <td>Name</td>
                <td>Email Address</td>
                <td>Member Type</td>
                <td></td>
            </tr>
        </thead>

        <tbody>

            <!--<tr>
                <td>John Doe</td>
                <td>john.doe@example.org</td>
                <td><a href="#">Remove?</a></td>
            </tr>-->

            {{#each members}}
            <tr>
                <td>{{this.info.name}}</td>
                <td>{{this.info.email}}</td>
                <td>{{this.memberType}}</td>
                <td>

                    {{#ifEquals memberType "leader" }}
                        <button class="cta-button yellow" data-memberswitchtype="member" data-userid="{{this.info.userId}}" data-username="{{this.info.name}}">Switch to Member</button>
                    {{else}}
                        <button class="cta-button yellow" data-memberswitchtype="leader" data-userid="{{this.info.userId}}" data-username="{{this.info.name}}">Switch to Leader</button>
                    {{/ifEquals}}

                </td>
            </tr>
            {{/each}}

        </tbody>

    </table>

{{/if}}

{{> dashboard/update_membership}}

<script>

    (function(){

        'use strict';

        var tableActions = document.querySelector('.tableActions#membersActions');
        var updateMembershipModal = document.querySelector('.modal#updateMemberType');

        if(tableActions){

            var addNewMemberBtn = tableActions.querySelector('button#addNewMember');

            if(addNewMemberBtn){

                addNewMemberBtn.addEventListener('click', function(){
                    
                    document.querySelector('#addMember.modal').dataset.active = "true";

                }, false);

            }
        }

        Array.from(document.querySelectorAll('table#members button[data-memberswitchtype]')).forEach(button => {

            button.addEventListener('click', function(){
                const button = this;
                const form = updateMembershipModal.querySelector('form');
                updateMembershipModal.dataset.switchtype = this.dataset.memberswitchtype;
                
                form[1].value = this.dataset.userid
                form[2].value = this.dataset.memberswitchtype;

                Array.from(updateMembershipModal.querySelectorAll('strong.username')).forEach(strongElement => {
                    strongElement.textContent = button.dataset.username;
                });

                updateMembershipModal.dataset.active = "true";

            }, false);

        });

    }());

</script>