<div class="tableActions" id="songActions">
    <button id="addANewPart" class="cta-button light-blue" data-active="true">Add a part</button>
</div>

<table id="songs" data-active="true">
    
    <thead>
        <tr>
            <td colspan="2">Contributor</td>
        </tr>
    </thead>

    <tbody>

        {{#each songSections}}
            <tr class="subhead collapsable" data-collapsetarget="{{this.partNameId}}" data-expanded="false">
                <td>{{this.name}}</td>
                <td>
                    {{#ifEquals this.name "Lead"}}
                        <a href="/performance/record/{{../choirInfo.choirId}}/{{../songInformation.songId}}/{{this.partNameId}}" class="recordPart blue cta-button">Record this part</a>
                    {{/ifEquals}}

                    {{#ifEquals ../this.leadRecorded true }}

                        {{#ifNotEquals this.name "Lead"}}
                            <a href="/performance/record/{{../choirInfo.choirId}}/{{../songInformation.songId}}/{{this.partNameId}}" class="recordPart blue cta-button">Record this part</a>
                        {{/ifNotEquals}}

                    {{/ifEquals}}
                </td>
            </tr>

            {{#unless this.recordings}}
                <tr data-collapsed="true" data-collapseid="{{this.partNameId}}">

                    {{#ifEquals this.name "Lead"}}
                        <td colspan="2">No recordings have been made for this part yet.</td>
                    {{else}}

                        {{#ifEquals ../this.leadRecorded true }}
                            <td colspan="2">No recordings have been made for this part yet.</td>
                        {{else}}
                            <td colspan="2">Recordings for this part are not available until a lead part has been recorded.</td>
                        {{/ifEquals}}

                    {{/ifEquals}}

                </tr>
            {{else}}

                {{#each this.recordings}}
                <tr data-collapsed="true" data-collapseid="{{this.partNameId}}">
                    <td colspan="2"><a>{{this.userName}}</a></td>
                </tr>
                {{/each}}

            {{/unless}}

        {{/each}}


    </tbody>

</table>

<script>

    (function(){

        'use strict';
        var table = document.querySelector('table#songs');
        var collapsableHeaders = Array.from(table.querySelectorAll('tr[data-collapsetarget]'));

        collapsableHeaders.forEach(function(header){
            
            header.addEventListener('click', function(){
                
                this.dataset.expanded = this.dataset.expanded === "true" ? "false" : "true";

                var targetRows = table.querySelectorAll('[data-collapseid="' + this.dataset.collapsetarget + '"]')
                console.log(targetRows);

                Array.from(targetRows).forEach(function(target){
                    target.dataset.collapsed = target.dataset.collapsed === "true" ? "false" : "true";
                });

            }, false);


        });

    }());

</script>