
<div class="tableActions" id="songActions">
    <h3>{{songInformation.name}}</h3>
    
    <button class="view-video cta-button dark-green {{#unless render}} inactive {{/unless}}" data-videosrc="{{render}}">See latest render</button>

    {{#ifEquals memberType "leader"}}
    <button id="addANewPart" class="cta-button light-blue" data-active="true">Add a part</button>
    {{/ifEquals}}
</div>

<table id="song" data-active="true">
    
    <thead>
        <tr>
            <td colspan="2">Contributor</td>
        </tr>
    </thead>

    <tbody>

        {{#each songSections}}
            <tr class="subhead collapsable" data-collapsetarget="{{this.partNameId}}" data-expanded="false">
                <td>{{this.name}}</td>
                <td>
                    {{#ifEquals this.name "Lead"}}
                        {{#ifEquals ../memberType "leader"}}
                            {{#ifEquals ../this.leadRecorded false }}
                                <a href="/performance/record/{{../choirInfo.choirId}}/{{../songInformation.songId}}/{{this.partNameId}}" class="recordPart blue cta-button">Record this part</a>
                            {{/ifEquals}}
                        {{/ifEquals}}
                    {{/ifEquals}}

                    {{#ifEquals ../this.leadRecorded true }}

                        {{#ifNotEquals this.name "Lead"}}
                            <a href="/performance/record/{{../choirInfo.choirId}}/{{../songInformation.songId}}/{{this.partNameId}}" class="recordPart blue cta-button">Record this part</a>
                        {{/ifNotEquals}}

                    {{/ifEquals}}
                </td>
            </tr>

            {{#unless this.recordings}}
                <tr data-collapsed="true" data-collapseid="{{this.partNameId}}">

                    {{#ifEquals this.name "Lead"}}
                        <td colspan="2">No recordings have been made for this part yet.</td>
                    {{else}}

                        {{#ifEquals ../this.leadRecorded true }}
                            <td colspan="2">No recordings have been made for this part yet.</td>
                        {{else}}
                            <td colspan="2">Recordings for this part are not available until a lead part has been recorded.</td>
                        {{/ifEquals}}

                    {{/ifEquals}}

                </tr>
            {{else}}

                {{#each this.recordings}}
                <tr data-collapsed="true" data-collapseid="{{this.partNameId}}">
                    <td colspan="1"><a>{{this.userName}}</a></td>
                    <td>

                        {{#ifEquals this.userId ../../user}}
                        
                        <button class="cta-button dark-green view-video" data-videosrc="/performance/video/{{../../choirInfo.choirId}}+{{../../songInformation.songId}}+{{this.partId}}.webm">View</button>
                        
                        {{else}}
                            
                            {{#ifEquals ../../memberType "leader"}}

                                <button class="cta-button dark-green view-video" data-videosrc="/performance/video/{{../../choirInfo.choirId}}+{{../../songInformation.songId}}+{{this.partId}}.webm">View</button>

                            {{/ifEquals}}

                        {{/ifEquals}}
                        
                        {{#ifEquals ../../memberType "leader"}}
                            
                            {{#ifNotEquals ../this.name "Lead"}}
                                <button class="cta-button red delete-video" data-choirid="{{../../choirInfo.choirId}}" data-songid="{{../../songInformation.songId}}" data-partid="{{this.partId}}" >Delete</button>
                            {{/ifNotEquals}}

                            {{else}}

                                {{#ifEquals this.userId ../../user}}
                                    {{#ifNotEquals ../this.name "Lead"}}
                                        <button class="cta-button red delete-video" data-choirid="{{../../choirInfo.choirId}}" data-songid="{{../../songInformation.songId}}" data-partid="{{this.partId}}" >Delete</button>
                                    {{/ifNotEquals}}
                                {{/ifEquals}}

                        {{/ifEquals}}
                    </td>
                </tr>
                {{/each}}

            {{/unless}}

        {{/each}}


    </tbody>

</table>

{{> dashboard/render_playback}}
{{> dashboard/delete_recording}}

<script>

    (function(){

        'use strict';
        var table = document.querySelector('table#song');
        var collapsableHeaders = Array.from(table.querySelectorAll('tr[data-collapsetarget]'));

        collapsableHeaders.forEach(function(header){
            
            header.addEventListener('click', function(){
                
                this.dataset.expanded = this.dataset.expanded === "true" ? "false" : "true";

                var targetRows = table.querySelectorAll('[data-collapseid="' + this.dataset.collapsetarget + '"]')
                console.log(targetRows);

                Array.from(targetRows).forEach(function(target){
                    target.dataset.collapsed = target.dataset.collapsed === "true" ? "false" : "true";
                });

            }, false);


        });

    }());

    (function(){

        'use strict';

        var tableActions = document.querySelector('.tableActions#songActions');

        function viewPerformance(url){
            document.querySelector('#renderPlayback video').src = url;
            document.querySelector('#renderPlayback').dataset.active = "true";
        }

        function confirmVideoDeletion(choirId, songId, partId){
            console.log(choirId, songId, partId);

            var deleteConfirmationModal = document.querySelector('.modal#deleteRecording');

            deleteConfirmationModal.querySelector('video').src = `/performance/video/${choirId}+${songId}+${partId}.webm`;
            deleteConfirmationModal.querySelector('form').action = `/choir/delete-recording/${choirId}/${songId}/${partId}`;

            deleteConfirmationModal.dataset.active = "true";

        }

        if(tableActions){

            var addNewSongPart = tableActions.querySelector('button#addANewPart');

            if(addNewSongPart){

                addNewSongPart.addEventListener('click', function(){
                    
                    document.querySelector('#addPart.modal').dataset.active = "true";

                }, false);

            }

            var viewVideoBtns = document.querySelectorAll('button.view-video');

            console.log(viewVideoBtns);

            Array.from(viewVideoBtns).forEach(function(button){

                button.addEventListener('click', function(){

                    console.log(this.dataset.videosrc);

                    if(this.classList.contains('inactive')){
                        __global_message.display({
                            content : "No render is available at this time. Your song must have at least two recordings before the rendering process will be triggered - after which, the video will become available in around 5 minutes.",
                            type : "notice"
                        });
                    } else {
                        viewPerformance(this.dataset.videosrc);
                    }


                }, false);

            });

            var deleteVideoBtns = document.querySelectorAll('table#song button.delete-video');

            console.log(deleteVideoBtns);

            Array.from(deleteVideoBtns).forEach(function(button){
                button.addEventListener('click', function(){

                    confirmVideoDeletion(this.dataset.choirid, this.dataset.songid, this.dataset.partid);

                }, false);
            });

        }

    }());

</script>