<main>

    <section id="choirMenu" class="sidebar">
        <h2>My Choirs</h2>
        <ul>
            <!--<li><a href="#">The People's Front of Judea</a></li>-->

            {{#if userChoirs}}
            
                {{#each userChoirs}}
                    <li><a href="/dashboard/choir/{{choirId}}">{{name}}</a></li>
                {{/each}}

            {{else}}

                <div class="center-text">
                    <p>You haven't created any choirs yet.</p>
                </div>

            {{/if}}
        </ul>
        <div class="center-text">
            <button class="cta-button black" id="choirCreationCTA">Create a Choir</button>
        </div>

    </section>

    <section id="choirInfo">

        <header>

            {{#if choirInfo}}

                <h1>{{choirInfo.name}}</h1> <!-- Choir Name-->
                <p>{{choirInfo.description}}</p>

            {{else}}
                
                <h1>My Dashboard</h1> <!-- Choir Name-->

                <p>This is where you can manage you choir. Here, you can create new songs
for recording, or add new members to you choir.</p>

            {{/if}}

        </header>

        <section id="management">
            
            {{#if choirInfo}}

                {{> dashboard/subnav }}

                {{#ifEquals view "songs"}}
                    {{> dashboard/songs }}
                {{/ifEquals}}

                {{#ifEquals view "members"}}
                    {{> dashboard/members}}
                {{/ifEquals}}

                {{#ifEquals view "song"}}
                    {{> dashboard/song}}
                {{/ifEquals}}

                {{#ifEquals view "settings"}}
                    {{> dashboard/settings}}
                {{/ifEquals}}


            {{/if}}

        </section>
        
        {{> dashboard/create_choir }}

        {{> dashboard/create_song }}

        {{!-- {{> dashboard/add_member }} --}}

    </section>

</main>

<script>

    (function(){

        'use strict';

        var createChoirModel = document.querySelector('#createChoir.modal');

        document.querySelector('#choirCreationCTA').addEventListener('click', function(){

            createChoirModel.dataset.active = "true";

        }, false);

    }());

</script>