<main>

    <section id="choirMenu" class="sidebar">
        <h2>My Choirs</h2>
        <ul>
            <!--<li><a href="#">The People's Front of Judea</a></li>-->

            {{#if choirs}}
            
                {{#each choirs}}
                    <li><a href="/dashboard/choir/{{choirId}}">{{name}}</a></li>
                {{/each}}

            {{else}}

                <div class="center-text">
                    <p>You haven't created any choirs yet.</p>
                </div>

            {{/if}}
                <div class="center-text">
                    <button class="cta-button black" id="choirCreationCTA">Create a Choir</button>
                </div>
        </ul>

    </section>

    <section id="choirInfo">

        <header>

            {{#if choirId}}

                <h1>{{this.name}}</h1> <!-- Choir Name-->
                <p>This is where you can manage you choir. Here, you can create new songs
for recording, or add new members to you choir.</p>

            {{else}}
                
                <h1>My Dashboard</h1> <!-- Choir Name-->

                {{#if choirs}}

                {{else}}

                <p>This is where you can manage you choir. Here, you can create new songs
for recording, or add new members to you choir.</p>
                {{/if}}

            {{/if}}

        </header>

        <section id="management">
            
            {{#if choirId}}

                {{> dashboard/subnav }}
                
                {{#if performances}} {{> dashboard/performances }} {{/if}}

                {{#if users}} {{> dashboard/users}} {{/if}}

            {{/if}}

        </section>

        {{> dashboard/create_choir }}

    </section>

</main>

<script>

    (function(){

        'use strict';

        var createChoirModel = document.querySelector('#createChoir.modal');

        document.querySelector('#choirCreationCTA').addEventListener('click', function(){

            createChoirModel.dataset.active = "true";

        }, false);

    }());

</script>