<main>

    <section id="choirMenu" class="sidebar" data-expanded="false">
        <h2>My Choirs</h2>
        <ul>
            <!--<li><a href="#">The People's Front of Judea</a></li>-->

            {{#if userChoirs}}
            
                {{#each userChoirs}}
                    
                    {{!-- <li><a href="/dashboard/choir/{{choirId}}" {{#if ../choirInfo}} {{#ifEquals ../choirInfo.choirId choirId}}class="selected"{{/ifEquals}} {{/if}} {{#greaterThanOrEqualTo @key ../choirListMaxSize}}data-active="false"{{/greaterThanOrEqualTo}} >{{name}}</a></li> --}}

                    {{#ifEquals ../choirInfo.choirId choirId}}
                        
                        <li><a href="/dashboard/choir/{{choirId}}" {{#if ../choirInfo}} {{#ifEquals ../choirInfo.choirId choirId}}class="selected"{{/ifEquals}} {{/if}}>{{name}}</a></li>
                    
                    {{else}}

                        <li><a href="/dashboard/choir/{{choirId}}" {{#greaterThanOrEqualTo @key ../choirListMaxSize}}data-active="false"{{/greaterThanOrEqualTo}} >{{name}}</a></li>

                    {{/ifEquals}}

                {{/each}}

                {{#greaterThanOrEqualTo userChoirs.length choirListMaxSize}}
                    <div class="center-text">
                        <button id="seeMoreChoirs" class="cta-button transparent">See More Choirs</button>
                    </div>
                {{/greaterThanOrEqualTo}}

            {{else}}

                <div class="center-text">
                    <p>You haven't created any choirs yet.</p>
                </div>

            {{/if}}
        </ul>

        <button class="sub-menu light" id="choirMenuToggle" type="button"></button>

        {{#ifNotEquals userType "regular"}}
        <div class="center-text" id="choirCreationCTA">
            <button class="cta-button black">Create a Choir</button>
        </div>
        {{/ifNotEquals}}

    </section>

    <section id="choirInfo">

        <header>

            {{#if choirInfo}}

                <h1>{{choirInfo.name}}</h1> <!-- Choir Name-->
                <p>{{choirInfo.description}}</p>

            {{else}}
                
                <h1>My Dashboard</h1> <!-- Choir Name-->

                <p>This is where you can manage your choir.<br/>Here, you can create new songs for recording, or add new members to your choir.</p>

            {{/if}}

        </header>

        <section id="management">
            
            {{#if choirInfo}}

                {{> dashboard/subnav }}

                {{#ifEquals view "songs"}}
                    {{> dashboard/songs }}
                {{/ifEquals}}

                {{#ifEquals view "members"}}
                    {{> dashboard/members}}
                {{/ifEquals}}

                {{#ifEquals view "song"}}
                    {{> dashboard/song}}
                {{/ifEquals}}

                {{#ifEquals view "settings"}}
                    {{> dashboard/settings}}
                {{/ifEquals}}


            {{/if}}

        </section>
        
        {{#ifNotEquals userType "regular"}}
        {{> dashboard/create_choir }}
        {{> dashboard/admin_intro }}
        {{/ifNotEquals}}

        {{#ifEquals userType "regular"}}
        {{> dashboard/member_intro }}
        {{/ifEquals}}


        {{#ifEquals memberType "leader"}}
        {{> dashboard/add_member }}
        {{/ifEquals}}

        {{#ifEquals memberType "leader"}}
        {{> dashboard/add_song_part }}
        {{/ifEquals}}

        {{> dashboard/create_song }}
        {{> dashboard/see_additional_choirs }}

    </section>

</main>

<script>

    (function(){

        'use strict';

        const createChoirModal = document.querySelector('#createChoir.modal');
        const choirMenu = document.querySelector('#choirMenu');
        const choirMenuToggle = choirMenu.querySelector('button#choirMenuToggle');

        const seeMoreChoirsModal = document.querySelector('#seeAdditionalChoirs.modal');
        const seeMoreChoirsBtn = choirMenu.querySelector('button#seeMoreChoirs');

        if(createChoirModal){
            
            document.querySelector('#choirCreationCTA button').addEventListener('click', function(){

                createChoirModal.dataset.active = "true";
                choirMenu.dataset.expanded = "false";

            }, false);

        }

        if(seeMoreChoirsBtn){
            seeMoreChoirsBtn.addEventListener('click', function(){
                seeMoreChoirsModal.dataset.active = "true";
            }, false);
        }

        choirMenuToggle.addEventListener('click', function(){

            choirMenu.dataset.expanded = choirMenu.dataset.expanded === "true" ? "false" : "true";

        }, false);

    }());

</script>