<!DOCTYPE html>
<html lang="en">
	<head>
		
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css?started={{serverStarted}}' />

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet" />

		<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />

		<!-- Primary Meta Tags -->
		<meta name="title" content="{{title}}">
		<meta name="description" content="Choirless is a platform which enables people to sing and perform together wherever they are in the world.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.choirless.com/">
		<meta property="og:title" content="{{title}}">
		<meta property="og:description" content="Choirless is a platform which enables people to sing and perform together wherever they are in the world.">
		<meta property="og:image" content="https://www.choirless.com/assets/images/choirless-social.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://www.choirless.com/">
		<meta property="twitter:title" content="{{title}}">
		<meta property="twitter:description" content="Choirless is a platform which enables people to sing and perform together wherever they are in the world.">
		<meta property="twitter:image" content="https://www.choirless.com/assets/images/choirless-social.png">

	</head>
	<body id="{{{bodyid}}}" {{#if impersonating}}class="impersonating"{{/if}} data-usertype="{{userType}}"></body>

		{{#if impersonating}}
			<div class="impersonating-toolbar">You're currently impersonating '{{email}}'<form action="/admin/impersonate/stop" method="POST"><button class="cta-button black">Stop</button></form></div>
		{{/if}}

		{{> nav}}
		{{> display_message}}

		{{{body}}}

	<div id="safariWarning" class="global-dialog" data-active="false">
		<div class="dialog-content">
			<h3 id="heading">Hello, Apple Fan!</h3>
			<p>We're sorry, but iOS devices and Safari on Mac do not have the advanced technologies that Choirless uses to record songs.</p>
			<p>That said, Choirless works fantastically in Chrome, Firefox, and Edge on Mac, Windows, Linux, and Android devices. If you open up the link in one of those browsers, everything (should) be great.</p>
			<p>In the meantime, you can still use your Choirless account to manage your members and watch recordings.</p>
			<button class="cta-button black">OK</button>
		</div>
	</div>	

	<script>

		(function(){

			'use strict';

			const safariWarning = document.querySelector('#safariWarning');
			const okBtn = safariWarning.querySelector('button');

			const hasBeenWarnedBefore = localStorage.getItem('safariWarningSeen');

			if(hasBeenWarnedBefore !== "true"){

				var ua = navigator.userAgent.toLowerCase(); 
				if (ua.indexOf('safari') !== -1) { 
					if (ua.indexOf('chrome') > -1) {
					} else {
						safariWarning.dataset.active = "true";
					}
				}

				okBtn.addEventListener('click', function(){
					safariWarning.dataset.active = "false";
					localStorage.setItem('safariWarningSeen', 'true');
				});

			}

		}());

	</script>

	{{> feedback}}	

	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
				console.log('ServiceWorker registration successful with scope: ', registration.scope);
			});
		}
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-32264359-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-32264359-2');
	</script>

	</body>
</html>
